<%= form_for(@question.answers) do |f| %>
  <% if @question.answers.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.answers.errors.count, "error") %> prohibited this question.answers from being saved:</h2>

      <ul>
      <% @question.answers.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :best %><br />
    <%= f.check_box :best %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
