<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Best:</b>
  <%= @answer.best %>
</p>


<table>
  <tr>
    <th>COMENTARIO</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.user_id %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_question_answer_path(@answer) %> |
<%= link_to 'Back', question_answer_path %>
